*,
::after,
::before {
    box-sizing: border-box;
}

html,
body,
header,
nav,
sidebar,
menu,
main,
section,
footer,
div {
    margin: 0;
    padding: 0;
}

:root {
    /* Fonts */
    --ff-headings: "Raleway", sans-serif;
    --ff-body: "Lusitana", serif;

    /* primary color */
    --clr-primary-100: #1b6eca;
    --clr-primary-200: #1966bb;
    --clr-primary-300: #175eac;
    --clr-primary-400: #15559d;
    --clr-primary-500: #134d8e;
    --clr-primary-600: #11457f;
    --clr-primary-700: #0f3d70;
    --clr-primary-800: #0d3561;
    --clr-primary-900: #0b2d52;

    /* secondary color */
    --clr-secondary-100: #f5a45c;
    --clr-secondary-200: #f49b4c;
    --clr-secondary-300: #f3933c;
    --clr-secondary-400: #f28a2c;
    --clr-secondary-500: #f1811c;
    --clr-secondary-600: #ed780f;
    --clr-secondary-700: #dd700e;
    --clr-secondary-800: #cd680d;
    --clr-secondary-900: #bd600c;

    /* grey */
    --clr-grey-50: #f8fafc;
    --clr-grey-100: #f1f5f9;
    --clr-grey-200: #e2e8f0;
    --clr-grey-300: #cbd5e1;
    --clr-grey-400: #94a3b8;
    --clr-grey-500: #64748b;
    --clr-grey-600: #475569;
    --clr-grey-700: #334155;
    --clr-grey-800: #1e293b;
    --clr-grey-900: #0f172a;

    /* Font sizes */
    --fs-xl: clamp(2.5rem, 8vw + 1rem, 4rem);
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-sm: 0.75rem;

    /* spacing */
    --spacing-xl: 2rem;
    --spacing-lg: 1.5rem;
    --spacing-md: 1rem;
    --spacing-sm: 0.5rem;
    --spacing-xs: 0.25rem;
}

@media (min-width: 576px) {
    :root {
        --spacing-xl: 2.25rem;
        --spacing-lg: 1.75rem;
        --spacing-md: 1.25rem;
        --spacing-sm: 0.75rem;
        --spacing-xs: 0.5rem;
    }
}

@media (min-width: 768px) {
    :root {
        --spacing-xl: 2.5rem;
        --spacing-lg: 2rem;
        --spacing-md: 1.5rem;
        --spacing-sm: 1rem;
        --spacing-xs: 0.75rem;
    }
}

@media (min-width: 992px) {
    :root {
        --spacing-xl: 2.75rem;
        --spacing-lg: 2.25rem;
        --spacing-md: 1.75rem;
        --spacing-sm: 1.25rem;
        --spacing-xs: 1rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --spacing-xl: 3rem;
        --spacing-lg: 2.5rem;
        --spacing-md: 2rem;
        --spacing-sm: 1.5rem;
        --spacing-xs: 1.25rem;
    }
}

@media (min-width: 40em) {
    :root {
        --fs-600: 3rem;
        --fs-500: 1.953rem;
        --fs-400: 1.225rem;
        --fs-sm: 1rem;
    }
}

@supports (scroll-behavior: smooth) {
    html {
        scroll-behavior: smooth;
    }
}
